body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAEBE0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border: 1.5px solid red;
  padding: 10px;
  border-radius: 25px;
}

h1{
  font-weight: bolder;
}

label{
  font-weight: bold;
  margin-top: 10px;
}
